

.product-screen {
    background-image: url("./product.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 5;
  }


  .product-screen h1 {
    font-weight: bold;
  }
  
  .product-screen th {
    font-weight: bold;
  }
  
  .product-screen td {
    font-weight: bold;
  }
